<article id="about-me" class="snap-center flex flex-row justify-around">
    <section class="text-white" >
        <div class="w-full md:w-auto grid justify-center md:float-left p-2">
            <img
                class="m-2 object-contain w-80 rounded-md drop-shadow-xl saturate-50"
                src="/src/assets/me.jpg"
            />
        </div>
        <div class="p-5 text-justify  ">
            <h1 class="text-3xl lg:text-6xl text-white font-bold font-space uppercase" >
                my biography
            </h1>
            <div
                class="w-full h-1 border-double border-4 border-ha2 my-4"
            >
            </div>
            <p class="font-space px-3">
                My name is Heiber Perez a web developer from Colombia,
                Driven by a curiosity about new ideas with interactive
                experiences to crafting user-friendly websites and
                applications. With a fascination for create solutions,
                the programming code brings a perspective analitic and
                creative. Whether it's building a platform single or
                tackling a complex coding challenge.
            </p>
        </div>
        <div class="px-5">
            <h1 class="text-2xl lg:text-3xl text-white font-bold font-space">
                Skills 
            </h1>
            <div class="flex justify-center flex-wrap space-x-2 font-space font-bold py-5 gap-2">
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>HTML</div><i class="devicon-html5-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>Javascript</div><i class="devicon-javascript-plain text-4xl pr-1" ></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>Bootstrap</div><i class="devicon-bootstrap-plain text-4xl pr-1" ></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>css</div><i class="devicon-css3-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>react</div><i class="devicon-react-original text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>typescript</div><i class="devicon-typescript-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>git</div><i class="devicon-git-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>github</div><i class="devicon-github-original text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>docker</div><i class="devicon-docker-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>linux</div><i class="devicon-linux-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>mongodb</div><i class="devicon-mongodb-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>mysql</div><i class="devicon-mysql-original text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>nodejs</div><i class="devicon-nodejs-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>php</div><i class="devicon-php-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>postgresql</div><i class="devicon-postgresql-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>Spring Boot</div><i class="devicon-spring-original text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>vuejs</div><i class="devicon-vuejs-plain text-4xl pr-1"></i>
                </div>
                <div class="flex items-center space-x-2 text-md px-2 bg-ha4 text-white rounded-full py-1" >
                    <div>photoshop</div><i class="devicon-photoshop-plain text-4xl pr-1"></i>
                </div>
            </div>
        </div>
    </section>
</article>