<article id="education"class="snap-center flex flex-col lg:flex-row text-white py-3">
    <div class="p-5  w-full  lg:w-1/2  flex flex-col justify-center">
        <h1 class="text-4xl lg:text-6xl text-white font-bold font-space uppercase" >
            Education
        </h1>
        <div
            class="w-full h-1 border-double border-4 border-ha2 my-4"
        >
        </div>
    </div>
    <div class="p-5  w-full lg:w-1/2 ">
        <h1 class=" text-5xl md:text-7xl text-white font-extralight font-spartan uppercase text-center" >
            2014 - 2023
        </h1>
        <div class="flex flex-col gap-6 py-5">
            <div>
                <h1 class="text-3xl text-white font-bold font-space">
                    System Engineer 
                </h1>
                <h1 class="text-xl text-ha3 font-space">
                    Universidad Nacional Abierta y a Distancia - UNAD Colombia 
                </h1>
            </div>
            <div>
                <h1 class="text-3xl text-white font-bold font-space">
                    Information Systems Analysis and Development 
                </h1>
                <h1 class="text-xl text-ha3 font-space">
                    Servicio Nacional de Aprendizaje (SENA) 
                </h1>
            </div>
            <div>
                <h1 class="text-3xl text-white font-bold font-space">
                    JavaScript Full Stack Developer 
                </h1>
                <h1 class="text-xl text-ha3 font-space">
                    Platzi 
                </h1>
            </div>
        </div>
    </div>
</article>