---
import arrow from '../assets/arrow.svg'
---
<article id="experiences"class="snap-center flex flex-col md:flex-row text-white py-3">
    <div class="p-5  w-full  flex flex-col justify-center">
        <div class="flex flex-col lg:flex-row items-center ">
            <div class="w-full  lg:w-1/2">
                <h1 class="text-4xl lg:text-6xl text-white font-bold font-space uppercase" >
                    experiences
                </h1>
                <div
                    class="w-full h-1 border-double border-4 border-ha2 my-4"
                >
                </div>
            </div>
    
            <h1 class="w-full lg:w-1/2 text-5xl md:text-7xl text-white font-extralight font-spartan uppercase text-center" >
                2018 - 2024
            </h1>
        </div>
        <div class="flex flex-col gap-6 py-5">
            <div class="flex flex-col lg:flex-row items-center">
                <div  class="w-full">
                    <img class="w-6 h-12 mr-3 float-left lg:pt-4" src={arrow.src} />
                    <h1 class="xl:text-3xl text-white font-bold font-space">
                        Lider de Desarrollo (2018-2021)
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Agencia DROI SAS 
                    </h1>
                </div>
                <div class="w-full">
                    <p class="text-lg lg:text-2xl font-spartan">
                        Creating and maintenance client's webs and hybrid app with ReactJS, ReactNative
                        Maintenance own projects with Javascript, Bootstrap, MySQL
                    </p>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row items-center">
                <div  class="w-full">
                    <img class="w-6 h-12 mr-3 float-left lg:pt-4" src={arrow.src} />
                    <h1 class="xl:text-3xl text-white font-bold font-space">
                        Ingeniero de Software (2021-2023)
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Llanogas SAS ESP BIC 
                    </h1>
                </div>
                <div class="w-full">
                    <p class="text-lg lg:text-2xl font-spartan">
                        Support activities in software project management with activities of analysis, design, implementation and deployment of software applications.
                    </p>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row items-center">
                <div  class="w-full">
                    <img class="w-6 h-12 mr-3 float-left lg:pt-4" src={arrow.src} />
                    <h1 class="xl:text-3xl text-white font-bold font-space">
                        Software Engineer II  (2023 - 2024)
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        Indra Colombia SAS 
                    </h1>
                </div>
                <div class="w-full">
                    <p class="text-lg lg:text-2xl font-spartan">
                        Contributed to the advancement of a third-party React Native project, specializing in feature development and issue resolution.
                    </p>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row items-center">
                <div  class="w-full">
                    <img class="w-6 h-12 mr-3 float-left lg:pt-4" src={arrow.src} />
                    <h1 class="xl:text-3xl text-white font-bold font-space">
                        FullStack Developer  (2024)
                    </h1>
                    <h1 class="text-xl text-ha3 font-space">
                        AB-Inbev 
                    </h1>
                </div>
                <div class="w-full">
                    <p class="text-lg lg:text-2xl font-spartan">
                        Bringing new features and bug fixes to a  React Native mobile application.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</article>