<header class="w-full fixed top-0 left-0 right-0 z-10">
    <nav class="flex flex-col md:flex-row justify-around items-center bg-doce bg-opacity-90 py-4">
        <a href="#" class="text-[#121212] bg-ha1  text-3xl font-bold px-3 rounded-sm font-space">Online Portfolio</a>
        <ul class="flex flex-row gap-5 text-ha3 p-5 lg:p-0 ">
            <li><a class="mx-3 hover:border-b-ha3 hover:border-b-2 hover:animate-pulse" href="#about-me">About me</a></li>
            <li><a class="mx-3 hover:border-b-ha3 hover:border-b-2 hover:animate-pulse" href="#about-me2">Education</a></li>
            <li><a class="mx-3 hover:border-b-ha3 hover:border-b-2 hover:animate-pulse" href="#">Experience</a></li>
            <li><a class="mx-3 hover:border-b-ha3 hover:border-b-2 hover:animate-pulse" href="#">Projects</a></li>
            <li><a class="mx-3 hover:border-b-ha3 hover:border-b-2 hover:animate-pulse" href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<style>
    nav li a {
        font-family: 'Space Mono';
    }
</style>
