---
import '@fontsource-variable/league-spartan'
import '@fontsource/space-mono'
import 'devicon/devicon-base.css'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="This is a personal portfolio website showcasing the developer's skills, projects, and professional experience." />
		<meta name="keywords" content="portfolio, web development, projects, skills, experience" />
		<meta name="author" content="Heiber Perez" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content="Heiber Perez - Portfolio Website" />
		<meta property="og:description" content="This is a personal portfolio website showcasing the developer's skills, projects, and professional experience." />
		<meta property="og:image" content="/path/to/thumbnail.jpg" />
		<meta property="og:url" content="https://https://main.d2jq52fk6l77l2.amplifyapp.com" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	body{
		/* background-image: linear-gradient(to top, indigo, red, indigo); */
		background-color: #121212;
		/* font-family: "League Spartan Variable" */
	}
</style>
